```gitignore
# Entorno virtual
venv/
env/

generar_hash.py
railway_manage.ps1

# Base de datos
*.sqlite3
db.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3-journal
media/

# Entornos
.env
.venv
```